{%- import "_utils.html" as utils -%}
<!DOCTYPE html>
<html lang="en">
  {%- block html %}
    <head>
      {%- block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{title}}{% endblock title %}</title>
      {%- block metas %}
      {%- endblock metas %}
      {%- block styles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
      {%- endblock styles %}
      <script src="//use.typekit.net/dgk0ueu.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
      {%- endblock head %}
    </head>
    <body>
      {% block body -%}
        {% block navbar -%}
          <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
              <a href="{{ url_for('index') }}" class="pull-left">
                <img class="cde-logo" src="{{ url_for('static', filename='img/cde-logo.svg') }}">
              </a>
              <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">ChemDataExtractor</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('demo') }}">Online Demo</a></li>
                <li><a href="{{ url_for('index') }}">Download</a></li>
                <li><a href="{{ url_for('index') }}">Documentation</a></li>
              </ul>
            </div>
          </nav>
        {%- endblock navbar %}

        <div class="container">
          {{utils.flashed_messages(messages)}}
        </div>
          {% block content -%}
          {%- endblock content %}
        {% block footer -%}
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h2>
                  <a href="{{ url_for('index') }}">
                    <img class="cde-logo" src="{{ url_for('static', filename='img/cde-logo-inv.svg') }}">
                    <span>ChemDataExtractor</span>
                  </a>
                </h2>
                <ul>
                  <li><a href="http://www.mole.phy.cam.ac.uk">Molecular Engineering Group</a></li>
                  <li><a href="http://www.phy.cam.ac.uk">Cavendish Laboratory</a></li>
                  <li><a href="http://www.cam.ac.uk">University of Cambridge</a></li>
                </ul>
              </div>
              <div class="col-md-2 col-sm-12">
                <h3>About</h3>
                <ul>
                  <li>
                    <a href="#">About</a>
                  </li>
                  <li>
                    <a href="#">News</a>
                  </li>
                  <li>
                    <a href="{{ url_for('index') }}">Citing</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-2 col-sm-12">
                <h3>Try</h3>
                <ul>
                  <li>
                    <a href="#">Online Demo</a>
                  </li>
                  <li>
                    <a href="#">Web API</a>
                  </li>
                  <li>
                    <a href="#">Download</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-2 col-sm-12">
                <h3>Help</h3>
                <ul>
                  <li>
                    <a href="#">Contact</a>
                  </li>
                  <li>
                    <a href="/docs">Documentation</a>
                  </li>
                  <li>
                    <a href="#">Notebooks</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
    {%- endblock footer %}


        {% block scripts %}
          <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
          {{ moment.include_moment() }}
          <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        {%- endblock scripts %}
      {%- endblock body %}
    </body>
  {%- endblock html %}
</html>
