{% extends "base.html" %}

{% block title %}Citing | ChemDataExtractor{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>Citing ChemDataExtractor</h1>
    <p>
       If you use ChemDataExtractor as a resource in your research, please cite the following work:
    </p>
    <div class="well">
      Swain, M. C., & Cole, J. M. "ChemDataExtractor: A Toolkit for Automated Extraction of Chemical Information from
      the Scientific Literature", J. Chem. Inf. Model. <strong>2016</strong>, <em>56</em> (10), pp 1894–1904
      <a href="http://dx.doi.org/10.1021/acs.jcim.6b00207">10.1021/acs.jcim.6b00207</a>
    </div>
  </div>
{% endblock %}
