{% extends "base.html" %}

{% block title %}Contact | ChemDataExtractor{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>Contact Us</h1>
    <p>Got a bug report or feature request? Leave a message on the <a href="https://github.com/mcs07/ChemDataExtractor/issues">Issue Tracker</a>.</p>
    <p>You can also reach me on Twitter at <a href="https://twitter.com/mattswain123">@mattswain123</a> or drop me an <a href="http://matt-swain.com/adr.php">email</a>.</p>
  </div>
{% endblock %}
