{% extends "base.html" %}

{% block title %}{{ titles[current] }} | ChemDataExtractor Documentation{% endblock %}

{% block content %}
  <div class="container page-container">
    <div class="col-sm-9">
      {{ content | safe }}
      <hr>
      <div class="row">
        <div class="col-sm-6">
          {% if prev %}
            <a href="{{ prev }}">« {{ titles[prev] }}</a>
          {% endif %}
        </div>
        <div class="col-sm-6 text-right">
          {% if next %}
            <a href="{{ next }}">{{ titles[next] }} »</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="toc">
        <h4>Table of Contents</h4>
        <ul>
          {% for key in toc %}
            <li class="{% if key == current %}current{% endif %}"><a href="{{ key }}">{{ titles[key] }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
