{% extends "base.html" %}

{% block title %}Download | ChemDataExtractor{% endblock %}

{% block content %}
  <div class="container page-container">
    <h1>Download</h1>
    <p>ChemDataExtractor is available to download as an open source python package.</p>
    <p>For help with installation and getting started, check out the <a href="/docs">documentation</a>.</p>

    <h2>Releases</h2>
    <div class="alert alert-danger"><strong>Note</strong>: Public downloads are currently disabled, pending paper acceptance.</div>
    <div class="releases">
      <div class="row release">
        <div class="col-sm-3 release-meta">
{#          <div class="text-muted release-date">5th April 2016</div>#}
        </div>
        <div class="col-sm-9 release-body">
          <span class="label label-success pull-right">Latest release</span>
          <h3>ChemDataExtractor v1.0.0</h3>
          <p>First release of ChemDataExtractor toolkit to accompany paper submission.</p>
          <a class="btn btn-primary disabled" href="#">{{ utils.icon('circle-arrow-down') }} Download</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
