{% extends "base.html" %}

{% block title %}ChemDataExtractor{% endblock %}

{% block content %}
  <section class="section section-invert">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h3>Automatically extract chemical information from scientific documents</h3>
          <a href="{{ url_for('about') }}" class="btn btn-lg btn-invert">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-default">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center">
          <img class="img-feature" src="{{ url_for('static', filename='img/document2.svg') }}">
          <div class="feature-display">Extract chemical information from journal articles, theses and patents.</div>
        </div>
        <div class="col-sm-4 text-center">
          <img class="img-feature" src="{{ url_for('static', filename='img/chem.svg') }}">
          <div class="feature-display">Resolve chemical names, abbreviations and identifiers.</div>
        </div>
        <div class="col-sm-4 text-center">
          <img class="img-feature" src="{{ url_for('static', filename='img/graph2.svg') }}">
          <div class="feature-display">Extract experimental properties and spectroscopy.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-alternate">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Try our online demo to see it in action</h2>
          <a href="{{ url_for('demo') }}" class="btn btn-lg btn-primary">Try it now {{utils.icon('chevron-right')}}</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
