{% extends "base.html" %}

{% block title %}ChemDataExtractor{% endblock %}

{% block content %}
  <header class="welcome-message">
     <div class="row">
        <div class="col-xs-12 text-center">
            <h3>Automatically extract chemical information from scientific documents</h3>
            <a href="{{ url_for('about') }}" class="btn btn-lg btn-welcome">Learn more</a>
        </div>
     </div>
  </header>
  <div class="container">
    <div class="row feature-display">
      <div class="col-sm-4 text-center">
        <img class="img-feature" src="{{ url_for('static', filename='img/document2.svg') }}">
        <p>Extract chemical information from journal articles, theses and patents.</p>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-feature" src="{{ url_for('static', filename='img/chem.svg') }}">
        <p>Resolve chemical names, abbreviations and identifiers.</p>
      </div>
      <div class="col-sm-4 text-center">
        <img class="img-feature" src="{{ url_for('static', filename='img/graph2.svg') }}">
        <p>Extract experimental properties and spectroscopy.</p>
      </div>
    </div>
  </div>
{% endblock %}
