html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 270px;
  color: #444;
}

h1, h2, h3, h4 {
  font-weight: 300;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  color: #498feb;
}

a:hover {
  color: #337ab7;
}

.container {
  max-width: 1000px;
}

.cde-logo {
  margin-right: 5px;
  margin-top: 18px;
  height: 42.53125px;
}

.navbar {
  min-height: 76px;
}

.navbar-default {
  background-color: #fff;
  border-color: #e7e7e7;
}

.navbar-brand {
  padding: 24px 15px;
  height: 76px;
  font-size: 28px;
  line-height: 28px;
}

.navbar-default .navbar-brand {
  color: #498feb;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #498feb;;
}

.navbar-nav>li>a {
  font-size: 14px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.btn {
  border-radius: 3px;
}

.welcome-message {
  padding: 50px 0 40px;
  color: #fff;
  background-color: #488eea;
  margin: -20px 0 40px;
}

.btn-welcome {
  color: #488eea;
  background-color: #fff;
  border-color: #fff;
}

.btn-primary {
  background-color: #488EEA;
  border-color: #488EEA;
}

.btn-primary:hover {
  background-color: #337ab7;
  border-color: #337ab7;
}

.feature-display {
  font-size: 18px;
}

.img-feature {
  height: 100px;
}

header h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  color: #4d5152;
  background-color: #2e3234;
  height: 250px;
}

footer h2 {
  font-size: 22px;
  margin: 0;
}

footer h2 a {
  color: #fff;
}

footer h2 a:hover {
  text-decoration: none;
}

footer .cde-logo {
  margin-right: 5px;
  margin-top: -3px;
  height: 36px;
}

footer h3 {
  margin-top: 3px;
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  letter-spacing: 1.5px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: #b8b8b8;
}

footer a:hover {
  color: #fff;
}

h2 {
  margin-top: 20px;
}

.tab-pane {
  margin-top: 20px;
}

#input-text {
  height: 140px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
